{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Basewave</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@800&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
{% load static %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">

<div class="container" style="display:flex;justify-content:center;align-items:center;height:100vh;">

<div class="card" style="width:420px;">

<h1 style="text-align:center;margin-bottom:25px;">Welcome Back</h1>

<form method="POST">

{% csrf_token %}

<label>Username</label>

<input type="text" name="username">

<label>Password</label>

<input type="password" name="password">

<button class="btn" style="width:100%;">Login</button>

</form>

</div>

</div>
</body>
</html>